@model IEnumerable<MVC_1.Models.Pagamenti>

@{
    ViewBag.Title = "Pagamenti";
}

<h2>Pagamenti</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ammontare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stipendio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acconto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ammontare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stipendio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acconto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
